/*表层页面构架*/
header{
    height: 160px;
    width: 100%;
}
.guide{
    overflow: hidden;
    width: 1202px;
    height: 345px;
    margin: auto;
    position: relative;
    top: -45px;
}
.guide-bg{
    height: 300px;
}
.background{
    background-color: #F7F7F7;
}
.page{
    overflow: hidden;
    width: 1202px;
    margin: auto;
}
ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    display: inline-block; 
}
a{
    text-decoration: none;
    font-family: 微软雅黑;
}
/*顶部连接栏*/
.top{
    height: 30px;
    width: 100%;
    background-color: #363C40;
}
.top-link{
    margin: auto;
    width: 1202px;
    height: 30px;
}
.top-link a{
    display: inline-block;
    line-height: 30px;
    color: white;
    font-family: 微软雅黑;
    font-size: 14px;
}
.logo {
    width: 64px;
    height: 30px;
    background: url('img/TB16hl5LpXXXXXRXVXXXXXXXXXX-198-46.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.top-link ul{
    width: 350px;
    float: right
}
.top-link li{
    text-align: center;
    float: left;
    padding-left: 24.5px;
    padding-right: 24.5px;
}
.top-link li:hover {
    background-color: #04C0DD;
}
/*顶部导航输入模块*/
.top-input{
    height: 130px;
    width: 1203px;
    margin: auto;
}
.home{
    float: left;
    width: 260px;
    height: 85px;
}
.home img{
    margin-top: 20px;
    width: 105px;
    height: 50px;
}
.guide-input{
    float: left;
    height: 85px;
    width: 940px;
    padding-top: 20px;
}
.input-search{
    display: inline-block;
    float: left;
    width: 570px;
    height: 29px;
    outline: 0;
    border:solid 2px #EBEBEB;
    border-right: 0;
}
.inptu-submit{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    background-color:  #04C0DD;
    border: 0;
    width: 54px;
    height: 35px;
    position:relative;
}
.inptu-submit span{
    font-family: 微软雅黑;
    font-size: 15px;
    color: white;
}
.guide-input li{
    margin-top: 4px;
    float: left;
    padding-left: 8px;
}
.guide-input li a{
    color: #7C7870;
    font-size: 14px;
}
.guide-input li a:hover{
    text-decoration: underline;
}
.manage{
    display: inline-block;
    width: 105px;
    height: 35px;
    float: right;
    border: 2px solid #5ED7E9;
    background-color: white;
    color: #5ED7E9;
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
}
#custom{
    float: right;
    width: 114px;
    height: 35px;
    margin-right: 10px;
    border: 2px solid #5ED7E9;
    outline: none;
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
    color: #5ED7E9
}
/*主导航模块*/
.guide-left{
    display: inline-block;
    float: left;
    width: 240px;
    height: 345px;
    background-color: #04C0DD;
    position: relative;
    z-index: 2;
}
.guide-left h3{
    display: inline-block;
    height: 35px;
    margin: 0;
    padding-top: 10px;
    font-family: 微软雅黑;
    color: white;
}
.guide-left i{
    display: inline-block;
    width: 13px;
    height: 13px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background: url(img/npx.png)
}
.guide-left ul{
    width: 234px;
    border-top: 1px solid #61D8EA;
    padding: 6px;
    padding-right:0

}
.guide-left a{
    font-size: 14.11px;
    font-family: 黑体;
    color: white;
}
.guide-left li{
    float: left;
    padding: 2.5px;
    padding-top: 1px;
    margin-right: 9px;
    margin-bottom: 1px;
    margin-top:1px;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s
}
.guide-left li:nth-child(1){
    background-color: #03AEC9;
    margin-right: 10px;
}
.guide-left li:hover{
    background-color: #03AEC9
}
/*右部导航*/
.guide-right{
    display: inline-block;
    float: left;
}
.guide-right ul{
    width: 960px;
    height: 34px;
    padding-top: 12px;
}
.guide-right li{
    margin-left: 32px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s
}
.guide-right li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
.guide-right a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    
}
.guide-right a:hover{
    color: #4A9ADE
}
.guide-right li:nth-child(7), 
.guide-right li:nth-child(8){
    float: right;
}
.guide-right li:nth-child(7) a, 
.guide-right li:nth-child(8) a{
    font-size: 17px;
    color: #4A9ADE;
}
.guide-right li:nth-child(7){
    display: inline-block;
    padding-left: 26px;
    margin-left: 15px;
    background: url(img/TB1CYOHKFXXXXXpXVXXXXXXXXXX-27-27.png);
    background-repeat: no-repeat;
    background-position: left
}
.MainBanner{
    float: right;
    display: inline-block;
    position: relative;
    left: 0;
    top: -300px;
    z-index: 1
}
/*“找商品·轻松挑”模块*/
h2{
    float: left;
    font-family: 黑体;
    font-size: 22px
}
.classify{
    float: left;
    width: 100%;
}
.classify li{
    float: left;
    width: 149.2px;
    height: 120px;
    background-color: white;
    border-left: 1px solid #F1F1F1;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s
}
.classify li:nth-child(1){
    border-left:0
}
.classify i{
    display: block;
    text-align: center;
    background: url(img/TB1oP6tHFXXXXXUapXXAAT2HVXX-63-63.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: -25px;
    padding: 0;
    width: 64px;
    height: 90px;
}
.classify p{
    color: #676767;
    text-align: center;
}
.classify li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
/*主展示区*/
.content{
    overflow: hidden;
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: white;
}
.content h1{
    margin-left: 20px;
    display: inline-block;
    font-family: 黑体;
    font-size: 26px;
}
.content p{
    display: inline-block;
    font-family: 黑体;
    margin: 0;
}
.content>a{
    color: #12A2C9;
    line-height: 65px;
    padding-right: 15px;
    float: right;
    font-weight: bold;
    font-family: 黑体;
    font-size: 14px;
}
.pic{
    width: 100%;
    height: 350px;
    border-top: 2px solid #F4C685;
}
.pic a{
    color: black;
}
.pic-left{
    float: left;
    width: 240px;
    height: 350px;
}
.l-t{
    width: 240px;
    height: 225px;
    background-color: #FEEACE;
}
.l-t img{
    margin: 50px;
}
.l-b{
    width: 240px;
    height: 125px;
    background-color: #FCDEB5;
}
.l-b a{
    float: left;
    color: #DA7221;
    margin-left: 50px;
    margin-top: 40px;
}
.pic-mid{
    float: left;
    width: 480px;
    height: 350px;
}
.m-l{
    display: inline-block;
    float: left;
    width: 50px;
    height: 350px;
    background: url(img/arrow.png);
}
.m-m{
    float: left;
    width: 380px;
    text-align: center;
}
.m-m h1{
    margin: 0;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: 黑体;
}
.m-pic{
    display: inline-block;
    width: 380px;
    height: 272px;
    background: url(img/TB1HG.uOXXXXXXmaFXXXXXXXXXX-380-266.jpg)
}
.m-r{
    display: inline-block;
    float: left;
    width: 50px;
    height: 350px;
    background: url(img/arrow-r.png);
}
.pic-right h3{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 黑体;
}
.pic-right p{
    font-family: 黑体;
    font-size: 15px;
}
.pic-right{
    float: left;
    width: 480px;
    height: 350px;
    text-align: center;
}
.r-1{
    float: left;
    width: 239px;
    height: 175px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EFEFEF;
}
.r-pic{
    margin-left: 2px;
    float: left;
    width: 235px;
    height: 109px;
    background: url(img/TB1GwwiOXXXXXaVapXXXXXXXXXX-240-108.jpg)
}
.help{
    display: inline-block;
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(img/TB1eriAHVXXXXc6XVXXO8z25XXX-1200-90.png)
}
/*服务商推荐模块*/
.recomand{
    width: 100%;
    height: 250px;
    margin-bottom:30px; 
    background-color: white;
}
.recomand h2{
    margin-left: 20px;
    width: 100%;
    float: left;
}
.re-1{
    float: left;
    width: 239px;
    height: 190px;
    border-top: 1px solid #F6F6F6;
    border-right: 1px solid #F6F6F6;
    text-align: center;
}
.re-logo{
    float: left;
    width: 240px;
    height: 70px;
    background: url(img/TB1aB3MHVXXXXbMXpXXwu0bFXXX.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40px
}
.re-name{
    margin: 0;
    width: 100%;
    float: left;
    color: #353637;
    font-family: 黑体;
    font-size: 16px;
}
.re-info{
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    width: 100%;
    height: 20px;
    float: left;
    color: black;
    font-size: 13px;
    font-family: 黑体;
}
/*尾部模块*/
.ft-top{
    height: 370px;
    width: 100%;
    background-color: white;
}
.sign-bg{
    width: 1200px;
    margin: auto;
}
.sign{
    display: block;
    width: 200px;
    height: 40px;
    margin: 35px auto;
    background-color: #05A1C9;
    border: 0;
    outline: 0;
    font-family: 黑体;
    color: white;
    font-weight: bold;
}
.ft-bottom-1{
    height: 120px;
    width: 100%;
    background-color: #EAEAEA;
}
.ft-bottom-2{
    height: 210px;
    width: 100%;
}